@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
}

main{
    padding: 30px;
    
}

.logo {
    height: 1.8rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

.main-pic {
    width: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

.call {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.msg {
    text-align: center;
}

.button {
    border-radius: 20px;
    padding: 10px 80px 10px 80px;
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    border: 0;
    box-shadow: 2px 2px #00000094;
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: center;
}

.icon {
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(54, 100%, 50%); }

@media screen and (min-width: 800px) {
    body {
        background-image: url("images/bg-desktop.svg");
    }

    main {
        padding: 40px 50px;
    }

    .logo {
        height: 3rem;
    }

    .content {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    .call {
        width: 80%;
        font-size: 40px;
    }

    .text {
        margin: 20px 20px 0 0;
        align-items: flex-start;
    }

    .msg {
        text-align: start;

    }

    p.msg {
        font-size: 20px;
    }

    .button {
        padding: 10px 50px 10px 50px;
    }

    .socials {
        justify-content: right;
    }


}